.header {
    background: #000;
    height: 80px;
}

.header__inner {
    margin: 0 auto;
    padding: 0 20px;
    /* max-width: 1230px; */
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__item {
    margin-right: 25px;
}

.header-nav__item a {
    color: #fff !important;
    text-decoration: none !important;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}