.login-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    width: 680px;
    height: 656px;
}

.login-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: bold;
}

.form {
    margin: 0 auto;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 59px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    appearance: none;
}

.form__button {
    margin-top: 50px;
    background: black;
    border-radius: 5px;
}

.login-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    width: 680px;
    height: 656px;
}

.login-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: bold;
}

.form {
    margin: 0 auto;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 59px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    appearance: none;
}

.form__button {
    margin-top: 50px;
    background: black;
    border-radius: 5px;
}

.form__button-submit {
    height: 65.25px;
    width: 100%;
    border: none;
    background: black;
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
}

.form__button-submit:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.form__button-submit:active {
    transform: scale(0.95);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.register__link {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    color: #0073CC;
}

.register__link a {
    color: #0073CC;
    text-decoration: none;
    font-weight: normal;
    transition: transform 0.2s ease, color 0.2s ease;
}

.register__link a:hover {
    font-weight: bold;
    color: #005999;
    transform: scale(1.05);
}