/* 全体背景 */
body {
    background-color: #F0EFF2;
    font-family: "Inter", sans-serif;
}

/* ページの余白 */
.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

/* タイトル */
.page-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    border-left: 4px solid black;
    padding-left: 10px;
}

/* 月ナビ */
.month-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 12px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

.calendar__img {
    width: 22px;
    height: auto;
    margin-right: 10px;
}

.month-nav__btn {
    color: #737373;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.15em;
}

.month-nav__btn:hover {
    text-decoration: underline;
}

.month-nav__current {
    font-weight: bold;
}

/* カード */
.attendance-card {
    background: white;
    border-radius: 10px;
    padding: 10px 0;
}

/* テーブル */
.attendance-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.attendance-table th,
.attendance-table td {
    padding: 12px 40px;
    text-align: left;
    letter-spacing: 0.15em;
}

.attendance-table th {
    font-weight: bold;
    color: #737373;
    font-size: 16px;
    border-bottom: 3px solid #E1E1E1;
}

.attendance-table td {
    font-weight: bold;
    color: #737373;
    font-size: 16px;
    border-bottom: 1px solid #E1E1E1;
}

/* 詳細リンク */
.detail-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.detail-link:hover {
    text-decoration: underline;
}